body {
    background-color: #01080E;
}

a {
    color: white;
}

.container {
    background: linear-gradient(135deg, rgba(1, 22, 39, 0.308), rgba(255, 255, 255, 0));
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 16px;
    display: flex;
    flex-direction: row;
}