@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

h1, h2, p, a {
    font-family: 'Fira Code', sans-serif;
}

body {
    background-color: #01080E;
    padding: 64px;
}

p, a {
    color: #607B96;
    margin: 0;
}

h1, h2 {
    color: white;
}

a {
    text-decoration: none;
}

.container {
    background: linear-gradient(135deg, rgba(1, 22, 39, 0.308), rgba(255, 255, 255, 0));
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
}

/*
MENU
*/
.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #607B96;
}

.logo {
    border-right: 1px solid #607B96;
    padding: 8px 32px;
}

.menu-links {
    border-right: 1px solid #607B96;
    padding: 0 32px;
    display: flex;
    gap: 32px;
}

/* .menu-links p:nth-child(2) {
    border-right: 1px solid #607B96;
} */

/*
TESTIMONIALS
*/
.testimonials-container {
    padding: 32px;
    background-color: #011221;
    border-radius: 8px;
    border: 1px solid #607B96;
    scale: 0.8;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.box-container::-webkit-scrollbar {
    display: none;
}

.box {
    width: 360px;
}

.btns-container {
    gap: 16px;
    display: inline-flex;
}
.back-btn, .next-btn {
    color: #607B96;
    background: none;
    border: 1px solid #607B96;
    border-radius: 8px;
    padding: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.back-btn:hover, .next-btn:hover {
    background: #607b9657;
}