@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

h1, h2, p, a {
    font-family: 'Fira Code', sans-serif;
}

body {
    background-color: #01080E;
    padding: 32px;
}

p, a {
    color: #607B96;
    margin: 0;
}

h1, h2 {
    color: white;
}

a {
    text-decoration: none;
}

.container {
    background: linear-gradient(135deg, rgba(1, 22, 39, 0.308), rgba(255, 255, 255, 0));
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
}

/*
MENU
*/
.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #607B96;
}

.menu-container div:nth-child(3) {
    margin-left: auto;

}

.logo {
    border-right: 1px solid #607B96;
    padding: 8px 0;
    cursor: not-allowed;
    width: 200px;
    text-align: center;
}

.menu-links {
    border-right: 1px solid #607B96;
    display: flex;
}
.menu-links a:nth-child(2) {
    border-right: 1px solid #607B96;
    border-left: 1px solid #607B96;
}
.menu-links a {
    padding: 8px 32px;
}

.menu-links a:hover {
    background-color: #607b9633;
}

.menu-contact {
    border-left: 1px solid #607B96;
    background-color: #607b9633;
    border-radius: 0 16px 0 0;
}

.menu-contact a {
    padding: 8px 32px;
    display: block;
}

.active {
    border-bottom: 3px solid #607B96;
    font-weight: 500;
}

/*
TESTIMONIALS
*/
.testimonials-container {
    padding: 32px;
    background-color: #011221;
    border-radius: 8px;
    border: 1px solid #607B96;
    scale: 0.8;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.box-container::-webkit-scrollbar {
    display: none;
}

.box {
    width: 360px;
}

.btns-container {
    gap: 16px;
    display: inline-flex;
}
.back-btn, .next-btn {
    color: #607B96;
    background: none;
    border: 1px solid #607B96;
    border-radius: 8px;
    padding: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.back-btn:hover, .next-btn:hover {
    background: #607b9657;
}

/*
FOOTER
*/
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #607B96;
}

.footer-container div:nth-child(3) {
    margin-left: auto;
}

.follow-me {
    border-right: 1px solid #607B96;
    padding: 8px 32px;
    cursor: not-allowed;
}

.socials {
    border-right: 1px solid #607B96;
    display: flex;
}

.socials a {
    padding: 8px 32px;
}

.socials a:hover, .github a:hover {
    background-color: #607b9633;
}

.fa-brands {
    color: #607B96;
}

.github a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    padding: 8px 32px;
    border-left: 1px solid #607B96;
}

.socials a:nth-child(2) {
    border-right: 1px solid #607B96;
    border-left: 1px solid #607B96;
    padding: 8px 32px;
}

/*
HOMEPAGE
*/
.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.presentation, .snake-game {
    padding: 32px 64px;
    width: 40vw;
    height: 30vw;
    align-content: center;
}

.presentation h1 {
    margin: 0;
}

.janis-job {
    margin-bottom: 64px;
}

/*
PORTFOLIO
*/
.left-bar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #607B96;
    width: 200px;
}

.left-bar p {
    border-bottom: 1px solid #607B96;
    padding: 8px 0;
}

.filter {
    display: flex;
    padding: 16px;
    flex-direction: column;
    color: #607B96;
    font-family: 'Fira Code', sans-serif;
    font-size: 0.9em;
    gap: 8px;
}

.filter label {
    display: flex;
    justify-content: space-between;
}